@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
 height: 100%;
 width: 100%;
 font-family: 'poppins' , sans-serif;
 color: #222;
}
.navbar {
 padding: .8rem;
}
.title {
color: aliceblue
}
.navbar-nav li{
 padding-right: 20px;
}
.nav-link: {
 font-size: 1.1em !important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  left: 100%;
 }
 .carousel-caption {
  position: absolute;
  top: -50%;
  transform: translateY(50%);
 } 
.jumbotron {
 padding: .2rem;
}
.welcome {
 width: 100%;
 margin: 0 auto;
 padding-top: 1rem;
}
button {
  background-color: #133896;
  color: white;
  padding: 60px;
  font-size: 20px;
  margin: 20px 10px;
  position: relative;
text-align: center;
display: inline-block;
}
a{
  text-decoration:none;
  color:
 }
  
 a.button,div.container{
  float:left;
 }
  
 a.button{
  background-color:
  border:1px solid #660000;
  border-radius:5px;
  color:#fff;
  margin-right:10px;
  padding:10px 10px 10px 10px;
 }
footer {
 background-color: #000000;
 color: #d5d5d5;
 padding-top: 0rem;
}
footer a {
 color: #d5d5d5;
}

/*---Media Queries --*/
@media (max-width: 992px) {
 .social a {
   font-size: 4em;
   padding: 2rem;
 }
@media (max-width: 768px) {
 .carousel-caption {
   top: 45%;
 }
 .carousel-caption h1 {
   font-size: 350%;
 }
 .carousel-caption h3 {
   font-size: 140%;
   font-weight: 400;
   padding-bottom: .2rem;
 }
 .carousel-caption .btn {
   font-size: 95%;
   padding: 8px 14px;
 }
 .display-4 {
   font-size: 200%;
 }
 .social a {
   font-size: 2.5em;
   padding: 1.2rem;
 }

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
   padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/










